body{
  margin:0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  width: 420px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 19px;
  padding: 18px;
  text-align:center;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

.hide{ display:none; }

.btn{
  border:none;
  padding:10px 16px;
  border-radius: 10px;
  cursor:pointer;
  font-weight: bold;
}

.btn.main{
  background: #38d39f;
  color:#0b1020;
}
.btn.main:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:12px;
}

.pill{
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.13);
  padding: 8px 14px;
  border-radius: 999px;
  margin: 6px 0;
  font-size: 14px;
}

/* TIMER RING (simple) */
.ring{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#7c5cff 360deg, rgba(255,255,255,0.15) 0deg);
  display:flex;
  justify-content:center;
  align-items:center;
}
.ringText{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #0b1020;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight: bold;
  font-size: 18px;
}

/* PROGRESS BAR */
.progress{
  height: 12px;
  background: rgba(255,255,255,0.15);
  border-radius: 999px;
  overflow:hidden;
  margin: 14px 0;
}
.bar{
  height: 100%;
  width:100%;
  background: #38d39f;
  transition: width 0.2s linear;
}

#question{
  font-size: 18px;
  margin: 10px 0 14px;
}

/* OPTIONS */
.option{
  text-align:left;
  padding: 10px;
  margin: 8px 0;
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 10px;
  cursor:pointer;
}
.option:hover{
  background: rgba(255,255,255,0.16);
}
.selected{
  border-color: #38d39f;
}

/* CONFETTI */
#confetti{
  position: fixed;
  inset: 0;
  pointer-events:none;
}
.conf{
  position:absolute;
  top:-10px;
  width: 10px;
  height: 14px;
  background: #ffcc66;
  animation: fall 3s linear forwards;
}
@keyframes fall{
  to{
    transform: translateY(110vh) rotate(720deg);
  }
}
